
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>@ViewData["Tmp1"]</h1>
<h1>@ViewBag.Tmp1</h1>
<h1>@ViewBag.Temp2</h1>

@using MVC5Course.Models.ViewModels;
@{
    var a = ViewData["ccc"] as ClientLoginViewModel;
    if (a != null)
    {
        <h1>@a.FirstName , @a.LastName</h1>
    }

}